@import url('@tldraw/tldraw/tldraw.css');


.tl-background {
    --color-background:  #fff2ae;
} 

.menu {
	pointer-events: 'all';
	position: absolute;
	display: flex;
	width: auto;
}

/* .custom-layout {
	position: absolute;
	inset: 0px;
	z-index: 300;
} */

.custom-menu-container {
	position: absolute;
	top: 10px;
	left: 0px;
	margin-left: 500px;
	width: auto;
	height: auto;
	max-height: 1000px;
	display: block;
	padding: 8px;
    background-color: white;
	border-radius: 25px;
}

.custom-menu-row {

}

.custom-button {
	pointer-events: all;
	padding: 4px 12px;
	background: white;
	border: 1px solid black;
	border-radius: 64px;
}

.custom-button[data-isactive='true'] {
	background-color: black;
	color: white;
}
